body {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

header, .hero  /* Add other classes */ {
    padding: 16px 256px;
}

header, .hero {
    background-color: #1F2937;
    color: white;
}

header  {
    display: flex;
    justify-content: space-between;
    align-self: center;
    color: #F9FAF8;


}

a {
    text-decoration: none;
}

header > .links {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
}